ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li button:hover {
    background-color: #ddd;
    padding: 14px 16px;
    color: black;
}
li button {
    color: white;
    text-align: center;
    padding: 14px 16px;
    border: none;
    background-color: #333;
}
table{
    top: 70px;
    position: relative;
    height: 80px;
}
tr,td{
    width: 150px;
}
#mapid {
    width: 700px;
    height: 600px;
    top: 60px;
    left: 200px;
}
#temp{
    position: absolute;
    top: 15px;
    left: 65px;
}
#active{
    top: 60px;
    position: relative;
}
#div-icon{
    position: relative;
    top: 65px;
}
.grid-container {
    display: grid;
    grid-template: auto auto/ auto auto;
}
.item1 {
    grid-column: 1 / span 2;
    grid-row: 1;
}